:root {
    /* Colors */

    /* Primary Colors*/
    --p-color-1: hsl(256, 26%, 20%);
    --p-color-2: hsl(216, 30%, 68%);

    /* Natural Colors*/
    --n-color-1: hsl(270, 9%, 17%);
    --n-color-2: hsl(273, 4%, 51%);
    --n-color-3: hsl(0, 0%, 98%);
}

body {
    font-family: 'Work Sans', sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'DM Serif Display', serif;
}

.container {
    padding-left: 120px;
    padding-right: 120px;
}

@media (max-width: 830px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.special-button {
    padding: 8px 25px;
    border: 2px solid var(--n-color-1);
    position: relative;
    text-align: center;

    &::before {
        content: '';
        background-color: var(--n-color-3);
        position: absolute;
        height: 100%;
        width: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
}

.special-button:hover::before {
    width: 100%;
}

/* Header  */
.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
}

.main-header .title {
    font-size: 26px;
    font-weight: 600;
    color: var(--n-color-1);
}

.main-header nav ul {
    display: flex;
    align-items: center;
}

.main-header nav ul li a {
    text-decoration: none;
    color: var(--n-color-2);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.main-header nav ul li:not(:last-child) {
    margin-right: 20px;
}

.main-header nav ul li:not(:last-child):hover a {
    color: var(--n-color-1);
}

.main-header nav ul .special-button::before {
    background-color: var(--n-color-1);
}

.main-header nav ul li:last-child a {
    color: var(--n-color-1);
}

.main-header nav ul li:last-child:hover a {
    color: var(--n-color-3);
}

/* Header media */
@media (max-width: 600px) {
    .main-header {
        & .burger {
            width: 30px;
            height: 30px;
            border: 2px solid var(--n-color-1);
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;

            & span {
                width: 100%;
                height: 2px;
                background-color: var(--n-color-1);
            }

            &.click {
                position: relative;

                span {
                    position: absolute;
                    width: 60%;

                    &:first-child {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                    }
                }
            }
        }

        & nav {
            display: none;
            width: 100%;
            height: calc(90vh - 70px);
            background-color: var(--n-color-1);
            background-image: url(../images/bg-pattern-mobile-nav.svg);
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: contain;
            padding-top: 30px;
            padding-bottom: 30px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);    

            & ul {
                flex-direction: column;
                gap: 30px;

                & li {
                    margin: 0 !important;
                    text-align: center;

                    & a {
                        color: var(--n-color-3) !important;
                        font-size: 20px;
                    }

                    &:not(:last-child):hover a {
                        color: var(--n-color-2) !important;
                    }
                }
            }
        }
    }

    .main-header nav ul li:last-child {
        width: 70%;
        border-color: var(--n-color-3);
    }

    .main-header nav ul li:last-child:hover a {
        color: var(--n-color-1) !important;
    }

    .main-header nav ul li:last-child::before {
        background-color: var(--n-color-3);
    }

}

@media (max-width: 400px) {
    .main-header nav ul li:last-child {
        width: 90%;
    }
}

/* Section One */
main .sec-1 {
    background-color: var(--p-color-1);
}